h1{
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #263238;
}

.card-body{
    font-weight: 50;
    color: #263238;
}

.card-head{
    font-size: 18px;
    font-weight: bold;
    color: #263238;
}
