<h1>Diagnosis</h1>
<hr>
<div class="card">
    <div class="card-head">Please upload CT and PET scans in the respective fields</div>
    <div class="card-body">
        <label for="ctrl">CT Scans</label>
        <input type="file" id="ctrl" webkitdirectory directory multiple/>
        <label for="ctrl">PET Scans</label>
        <input type="file" id="ctrl" webkitdirectory directory multiple/>
    </div>
</div>
<div class="card">
    <div class="card-head">Results</div>
    <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus soluta, quasi aut ipsa non, ullam enim rem repudiandae, vitae provident animi. Inventore rerum, voluptas optio dignissimos blanditiis modi illo!
    </div>
</div>
<div class="card">
    <div class="card-head">3D visualization</div>
    <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus soluta, quasi aut ipsa non, ullam enim rem repudiandae, vitae provident animi. Inventore rerum, voluptas optio dignissimos blanditiis modi illo!
    </div>
</div>
<br><br>
<hr>
<br>